#include "windef.h"

WindivsTestTahoma.ttf RCDATA WindivsTestTahoma.ttf
PanosePitchTest.ttf RCDATA PanosePitchTest.ttf
TTCTestV.ttc RCDATA TTCTestV.ttc
Shadows_Into_Light.ttf RCDATA Shadows_Into_Light.ttf
ExampleFont.ttf RCDATA ExampleFont.ttf
